.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(92, 0, 122, 0.1);
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.filter select {
  padding: 0.5rem;
  border: 1px solid #5c007a;
  border-radius: 5px;
  background-color: white;
  color: #5c007a;
  font-weight: bold;
}

.filter label {
  font-size: 1rem;
  color: #5c007a;
}
