.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.filter label {
  color: white;
  font-weight: bold;
}

.filter select {
  padding: 5px 30px;
  font-weight: bold;
}
